.div-login {
    width: 40%;
    top:20%;
    left:30%;
    position: absolute;
    border: solid 2px black;
    box-shadow: 5px 5px 10px black;
}
#login, #password {
    transition: all 0.2s ease-in;
}
