#superior-nav-bar {
    height: 50px;
    background-color:#3B5998;
    border-bottom: solid 10px;
    border-bottom-color: rgba(153, 153, 153, 0.2);
}


#superior-nav-bar>div>span {
    font-size: 25px;
    color: #FFF;
}

#superior-nav-bar>div>input { 
    margin-top:1.3%;
    width:98%;
}

input[class="p-form-control"] {
   border: 1px solid #DDDDDD;
}

input[class="p-form-control"]:focus {
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
    -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.superior-nav{
    padding-bottom:0.2%;
}

#txt-general-query {
   margin-left: 5%;
}

#menu-logo {
    content:url("../../resources/img/menu.png");
    height:30px;
    margin-left: 80%;
}

#menu-nav-bar {
    background-color: #F6F7EE;
    height:40px;
    border-bottom: solid 1px rgba(153, 153, 153, 0.5);
}

.container{
    background: #E4E3D5;
    height:80px;
}

#main-container {
    background:#FFF;
    z-index:60;
    height:80%;
    border-left: solid 1px rgba(153, 153, 153, 0.3);
    border-right: solid 1px rgba(153, 153, 153, 0.3);
    border-bottom: solid 1px rgba(153, 153, 153, 0.3);
}

.container-side {
    height:100%;

}

//------------------------------------------------------------------------------
//---------------------------------MEDIA----------------------------------------
//------------------------------------------------------------------------------

@media screen and (max-width:728px) {
    #superior-nav-bar>div>span {
        font-size: 23px;
        color: #FFF;
    }
}
@media screen and (max-width:677px) {
    #superior-nav-bar>div>span {
        font-size: 21px;
        color: #FFF;
    }
}
