<div ng-if="graphSelected === 'selected'" style="padding: 20px 10px 10px 10px;">
    <div class="grid-block">
        <div class="grid-block small-6 medium-4 large-4">
            <div class="grid-block vertical">
                <div class="grid-block" style="max-height: 450px; overflow-y: auto;">
                    <section class="block-list">
                        <header>Filtro por Clase</header>
                        <ul>
                            <li>
                                <input type="checkbox" id="Alternativa" ng-model="checkList[0].checked">
                                <label for="Alternativa" >Alternativa</label>
                            </li>
                            <li>
                                <input type="checkbox" id="Supuesto" ng-model="checkList[1].checked">
                                <label for="Supuesto" >Supuesto</label>
                            </li>
                            <li>
                                <input type="checkbox" id="Concern" ng-model="checkList[2].checked">
                                <label for="Concern" >Concern</label>
                            </li>
                            <li>
                                <input type="checkbox" id="Restricción" ng-model="checkList[3].checked">
                                <label for="Restricción">Restricción</label>
                            </li>
                            <li>
                                <input type="checkbox" id="Criterio" ng-model="checkList[4].checked">
                                <label for="Criterio" >Criterio</label>
                            </li>
                            <li>
                                <input type="checkbox" id="Decisión" ng-model="checkList[5].checked">
                                <label for="Decisión" >Decisión</label>
                            </li>
                            <li>
                                <input type="checkbox" id="Evaluación" ng-model="checkList[6].checked">
                                <label for="Evaluación" >Evaluación</label>
                            </li>
                            <li>
                                <input type="checkbox" id="RequerimientoFuncional" ng-model="checkList[7].checked">
                                <label for="RequerimientoFuncional">Requerimiento Funcional</label>
                            </li>
                            <li>
                                <input type="checkbox" id="AtributoSeCalidad" ng-model="checkList[8].checked">
                                <label for="AtributoSeCalidad" >Atributo de Calidad</label>
                            </li>
                            <li>
                                <input type="checkbox" id="Responsable" ng-model="checkList[9].checked">
                                <label for="Responsable" >Responsable</label>
                            </li>
                            <li>
                                <input type="checkbox" id="ArquitecturaSeSoftware" ng-model="checkList[10].checked">
                                <label for="ArquitecturaSeSoftware" >Arquitectura de Software</label>
                            </li>
                            <li>
                                <input type="checkbox" id="Artefacto" ng-model="checkList[11].checked">
                                <label for="Artefacto" >Artefacto</label>
                            </li>
                        </ul>
                    </section> 
                </div>
            </div>
        </div>
        <div class="grid-block small-6 medium-8 large-8">
            <div class="grid-block vertical">
                <div class="grid-block" id="graphContainer" style="width: 100%; height: 450px; overflow-y:hidden;"></div>
            </div>
        </div>      
    </div>
    <div style="padding-top: 10px ">
        <a class="button dark" ng-click="printGraph(checkList)">Graficar</a>
    </div>
    <div  style="width: 100%; margin-left: 70px; margin-right: 30px">
        <span class="label" ng-if="check.checked" ng-repeat="check in checkList track by $index" style="background-color: {{check.color}}; border: solid 2px black; font-weight: bolder; font-size: small">
            {{translate(check.reference)}}
        </span>         
    </div>
    <pdirec-onto-sub-elem></pdirec-onto-sub-elem>
</div>
