<div class="grid-block" id="content">
    <div class="grid-block small-1 medium-1 large-1"></div>
    <div id="main-content" class="grid-block small-9 medium-9 large-9" ng-controller="pctrl-drilldown">
        <div id="main-content-drilldown">                    
            <pdirec:drilldown></pdirec:drilldown>
        </div>
        <div id="main-content-searching" hidden="">
            sdsdsd
        </div>
        <div id="main-content-resources" hidden="">
            sdsdsdsdsdsd
        </div>
        <div id="main-content-ontology-element" hidden="">
            <pdirec-ontology-element></pdirec-ontology-element>
        </div>
    </div>
    <div class="grid-block small-1 medium-1 large-1"></div>
</div>