<div class="grid-block" id="content">
    <div class="grid-block small-1 medium-1 large-1"></div>
    <div id="main-content" class="grid-block small-9 medium-9 large-9">
        <div id="main-content-drilldown" ng-controller="pctrl-drilldown" class="all-available-width">                    
            <pdirec:drilldown></pdirec:drilldown>
        </div>
        <div id="main-content-searching" class="all-available-width" hidden="">
            sdsdsd
        </div>
        <div id="main-content-resources" class="all-available-width" hidden="">
            sdsdsdsdsdsd
        </div>
        <div id="main-content-ontology-element" ng-controller="pctrl-ontology-element" class="all-available-width">
            <pdirec:ontoelem></pdirec:ontoelem>
        </div>
    </div>
    <div class="grid-block small-1 medium-1 large-1" class="all-available-width"></div>
</div>