<div class="grid-block vertical">
    <div ng-repeat="data in elemData track by $index" class="ontology-elem-title-content">
        <div class="ontology-elem-tittle grid-block">
            <div class="grid-block small-8 medium-8 large-8 with-border">
                {{data.key}}
            </div>
            <div class="small-4 medium-4 large-4">
                <div class="switch">
                    <input type="checkbox" id="edit-content1-{{$index}}" ng-model="chkList[$index]" />
                    <label for="edit-content1-{{$index}}"></label>
                </div>
            </div>
        </div>
        <div class="ontology-elem-content grid-block" id="neContent-{{$index}}">
            {{returnOrNotContent(data.content)}}
        </div>
        <div class="ontology-elem-content grid-block" id="eContent-{{$index}}" style="display: none">
            <div class="card" style="width:100%;">
                <div class="card-divider">
                    <div style="position: relative">
                        <div style="position: absolute; right: 0; top:-15px;">
                            <div class="add-img-content-editable"></div>
                        </div>
                    </div>
                </div>
                <div class="card-section" id="editor-content-{{$index}}">
                    {{returnOrNotContent(data.content)}}
                </div>
            </div>
        </div>
    </div>
    <div ng-repeat="data in relatedElems track by $index" class="ontology-elem-title-content">
        <div class="ontology-elem-tittle grid-block with-border">            
            {{data.key}}            
        </div>
        <div class="ontology-elem-content">
            <div ng-show ="data.content.length >= 1">
                <div ng-repeat="row in getN(data.content, 10) track by $index" class="grid-block">
                    <div ng-repeat="col in [1, 2] track by $index" class="grid-block small-5 medium-3 large-3">
                        <div class="grid-block vertical">
                            <div ng-repeat="d in getNElem($parent.$index + 1, col, 2, $parent.data)" class="grid-block">
                                <a class="drilldown-item-link">{{d.id}}</a>
                            </div>
                        </div>

                    </div>
                    <div class="grid-block small-2 medium-6 large-6"></div>
                </div>
            </div>
            <div ng-show ="data.content.length === 0">
                "No hay ningún elemento relacionado"
            </div>
        </div>
    </div>    
</div>